body {
    background-color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
}
div {
    font-size: 15px;
}
div li{
    display: inline;
    float: right;
    margin-right: 30px;
    padding: 10px;
}
div a{
    text-decoration: none;
    color: rgb(60,64,67);
}
div a:hover {
    text-decoration: underline;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
    transform: translateX(-2%);
}
#searchbar {
    border-radius: 70px;
    width: 250%;
    font-size: 15px;
    border: 1px solid rgb(202, 204, 206);
    background-color: transparent;
    padding: 10px 10px 10px 20px;
    color: rgb(33,33,33);
}
#searchbar:hover, #searchbar:focus{
    background-color: rgb(255,255,255);
    border: none;
    outline-style: none;
    box-shadow: 0 0 10px 1px rgba(202,204,206,1);
}
#searchbutton {
    width: 150px;
    transform: translateX(125%);
    border-radius: 5px;
    border: none;
    background-color: rgb(248,249,250);
    color: rgb(60,64,67);
    font-size: 15px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}
#searchbutton:hover {
    border: 1px solid rgb(202,204,206);
}
img{
    position: absolute;
    top: 23%;
    left: 36%;
}